/*UNIVERSAL&Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Anton|Yanone+Kaffeesatz');

body {
  background: rgb(178,225,255);
  background: -moz-linear-gradient(-45deg, rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
  background: linear-gradient(135deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 );
}

h2, h3 {
  font-family: 'Lobster', cursive;
  color: #CC0000;
  font-size: 30px;
  text-align: center;
  opacity: 3;
}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
}

/*Nav&Header*/
nav {
  background: rgb(178,225,255);
  background: -moz-linear-gradient(-45deg, rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
  background: linear-gradient(135deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 );
  color: #6b71d9;
  text-decoration: none;
}

nav>a {
  color: #000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav>a:hover {
  background-color: #fff;
  color: #cc0000;
}

.navbar-default {
  border: none;
}


.jumbotron {
  background-image: url('../images/fences.jpeg');
  background-size: cover;
  color: #A4A9FF;
  height: 300px;
  padding: 70px;
  margin-top: -20px;
  opacity: 0.80;
}

.jumbotron>h1 {
  font-family: 'Anton', sans-serif;
  color: #CC0000;
  text-transform: uppercase;
  text-shadow: 5px 1px 8px rgba(0, 0, 0, 0.79);
  text-shadow: 2px 0px 5px rgba(0, 7, 0, 0.81);
}

.jumbotron>p {
  /*color: #a4a9ff;*/
  color: #FFDA2F;
  text-transform: capitalize;
  font-weight: lighter;
  text-shadow: 1px;
}

.jumbotron>.lic {
  text-align: center;
  font-size: 12px;
  color: #ffcd38;
  margin-top: -10px;
  padding-left: 60px;
}

/*MAIN CONTENT*/

.fencetypes {
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
}

.alert {
  text-align: center;
  color: #000;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.loc, .locations, .loc>h4, .loc>p, .est>h4 {
  list-style: none;
  text-align: center;
}

.loc>h4, .est>h4 {
  font-size: 25px;
  font-weight: lighter;
  color: #CC0000;
  font-family: 'Anton', sans-serif;
}

.loc>p {
  margin-left: 35px;
}

.ph, .cal {
  padding: 10px;
  color: #fff;
}

span {
  font-weight: bold;
  letter-spacing: 1px;
}

.h-items {
  color: #000;
  font-size: 20px;
  text-shadow: 2px 0px 5px rgba(53, 62, 32, 0.81);
  font-family: 'Lobster', cursive;
}

.num {
  font-weight: bolder;
  font-size: 14px;
}
